<div class="container">
	
	<div class="jumbotron">
	<h1 class="text-center animated infinite pulse" style="color:#F0F8FF">ScrapeBook</h1>
	<h3 class="text-center">Searches and scrapes results from Digg and Reddit</h3>
	
    <br>
	<%=form_tag("/",method:'get') do %>
	<div class="text-center">
	<%=label_tag(:search,"Search Term:")%>
	<p><%=text_field_tag(:search)%></p>
	<p><%= radio_button_tag(:site, "Reddit") %>
	<%= label_tag(:site_reddit, "  Reddit ") %>
	<%= radio_button_tag(:site, "Digg") %>
	<%= label_tag(:site_digg, "  Digg ") %></p><br>
	<p class="text-center animated bounce"><%=submit_tag("Search",:class=>"btn-primary")%></p><br>
	<%end%>
	</div>
	<h4 class="pull-right" style="color:olive">-Made by Shawn Rebello</h4><br>

	</div>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  <div class="row  bg-1">
     <div class="container">
  
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10 ">
    	<%@titles.each do |x| %>
        <p><h2><li><%= x.text%></li></h2></p>
        <p><h3><a href="<%= x.attributes["href"].value%>" class="pull-right">View this Post</a><h3></p><br><br>
        <%end%>
    </div>

   
